*{
  background-color:#222831;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color:#222831;
  color:white;
  font-size:28px;
  font-weight:200;
  height: 56px;
  font-family:poppins;
  padding-right:20px;
  padding-left:20px;
  margin:0px;
}
.header a{
  color:white;
  font-size: 16px;
  text-decoration:none;
  /*padding-top: 20px;*/
  /*padding-right:36px;*/
  font-weight:100;
  background-color:#222831;
}
ul{
    /*padding-top: 28px;*/ 
    /* height: 56px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background-color: #222831;
    /* padding-bottom: 0px;*/
}
ul li {
  line-height: initial;
  background-color: #222831;
  /* height: 20px; */
  /* padding-top: 28px; */
  padding: 0 20px;
  padding-top: 0px;
  /* padding-bottom: 0px;*/
}
.header a::before{
  content:""; 
}
.header a::after{
  content:"";
  display:block;
  height:1px;
  width:0;
  background-color:white;
  transition: width .3s;
}
.header a:hover::after{
  width:100%;
}
@media (max-width: 992px){
#nav-icon{
  display: inline-block;
/*     justify-self: flex-end; */
  width:32px;
  height:20px;
  position:relative;
  cursor:pointer;
  /*transform: rotate(0deg);*/
  background-color:#222831;
}
#nav-icon span{
  display:block;
  height:4px;
  position:absolute;
  background-color:white;
  border-radius:10px;
  width:100%;
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1){
  top:0px;
}
#nav-icon span:nth-child(2){
  top:8px;
}
#nav-icon span:nth-child(3){
  top:16px;
}
ul{
    width: 100%;
    top: 64px;
    position: absolute;
    display: block;
    height: 0px;
    overflow-y: scroll;
    transition: 0.25s;
    background-color: #222831;
    padding-top: 0px;
    padding-bottom: 0px;
}
ul li {
  background-color: #222831;
    /* height: 52px; */
    line-height: initial;
    /* padding-top: 28px; */
    padding: 0 20px;
  }
ul.open{
  height:140px;
}
#nav-icon.jojo span:nth-child(1){
  top:16px;
  transform: rotate(135deg) scale(0.8);
}
 #nav-icon.jojo span:nth-child(3){
  top:16px;
  transform: rotate(-135deg) scale(0.8);
}
 #nav-icon.jojo span:nth-child(2){
  display:none;
}
}
.home{
  margin-bottom:50px;
}
.box{
  display:flex;
  justify-content:space-evenly;
  margin-right:200px;
  margin-left:250px;
  margin-top: 20px;
  gap:8px;
}
.box img {
  border-radius:10px;
  margin-right:40px;
  width:330px;
  height:440px;
  border-radius:10px;
  box-shadow:8px 8px 2px 1px #2D363F;
}
.box .text{
  display:flex;
  flex-direction:column;
  gap: 10px;
  padding-top:45px;
}
.text p{
  font-size:24px;
  font-family:poppins;
  color:white;
  margin-bottom: 38px;
  font-weight: 100;
}
.text span{
  font-size:120px;
  font-family: Allura;
  line-height:98px;
  color:#FFA987;
}
.text #in{
  font-size:24px;
  font-family:poppins;
  color:white;
  font-weight: 80;
  border-bottom:1px solid #FF7D97;
}
@media (max-width: 670px){
  .box{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-right:100px;
    margin-left:100px;
    margin-top: 20px;
    gap:8px;
  }
    .box img {
    border-radius:10px;
    image-orientation: center;
    width:200px;
    height:240px;
    border-radius:10px;
    box-shadow:8px 8px 2px 1px #2D363F;
  }
    .text span{
    font-size:80px;
    font-family: Allura;
    line-height:60px;
    color:#FFA987;
  }
    .text p{
    font-size:16px;
    font-family:poppins;
    color:white;
    margin-bottom: 10px;
    font-weight: 100;
  }
  .text #in{
    font-size:16px;
    font-family:poppins;
    color:white;
    font-weight: 80;
    border-bottom:1px solid #FF7D97;
    line-height:28px;
  }
  }
  
